*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    width: 100%;
    height: 657px;
    justify-content: center;
    align-items: center;
    background-color: #3b4664;
}
#container{
    display: flex;
    width: 100%;
    height: 657px;
    justify-content: center;
    align-items: center;
    background-color: #3b4664;
}
.calc{
    width: 480px;
    height: 550px;
}
.title-calc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}
.title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}
.theme-calc{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.theme-number{
    display: flex;
    justify-content: space-around;
    width: 75px;
}
.theme-number button{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    background-color: #3b4664;
    border: none;
    cursor: pointer;
}
.theme{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theme-text{
    margin-right: 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
}
.input-theme-calc{
    display: flex;
    align-items: center;
    background-color: #252d44;
    width: 70px;
    height: 20px;
    border: 3px solid #252d44;
    border-radius: 10px;
    margin-top: 5px;
}
.button-theme-calc{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: none;
    background-color: #d23e34;
}
/* CAMPO RESULTADO CALCULADORA*/
.result-calc{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    background-color: #181f32;
    color: #FFF;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* FIM CAMPO RESULTADO CALCULADORA*/

/* TECLAS CALCULADORA*/
.keys-calc{
    background-color: #252d44;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.line-key-1,
.line-key-2,
.line-key-3,
.line-key-4,
.line-key-5{
    height: 50px;
    width: 80%;
    display: flex;
    margin-bottom: 5px;
}
.key-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eae3db;
    width: 100px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    border-bottom: 3px solid #b6a49a;
    color: #414755;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-right: none;
    border-left: none;
    border-top: none;
    cursor: pointer;
}
.key-button-del{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #647299;
    width: 100px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    border-bottom: 3px solid #414e70;
    color: #fff;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: none;
    border-left: none;
    border-top: none;
    cursor: pointer;
}
.key-button-reset{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #647299;
    width: 200px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    border-bottom: 3px solid #414e70;
    color: #fff;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: none;
    border-left: none;
    border-top: none;
    cursor: pointer;
}
.key-button-result{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d13f30;
    width: 200px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    border-bottom: 3px solid #922619;
    color: #fff;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: none;
    border-left: none;
    border-top: none;
    cursor: pointer;
}
/* FIM TECLAS CALCULADORA*/

/* INICIANDO TEMA MODO LITE */

.bgLite#container{
    background-color: #e6e6e6;
}
.bgLite#container #title,
.bgLite#container #theme-text{
    color: #37372d
}
.bgLite#container #theme-number button{
    background-color: #e6e6e6;
    color: #37372d
}
.bgLite#container #input-theme-calc{
    background-color: #d3cdcf;
    border: 3px solid #d3cdcf;
    justify-content: center;
}
.bgLite#container #button-theme-calc{
    background-color: #bf5905;
}
.bgLite#container #result-calc{
    background-color: #eeeeee;
    color: #3b3b2f;
}
.bgLite#container #key-button{
    background-color: #e5e4e0;
    color: #303028;
    border-bottom: 3px solid #a69f8f;
    border-right: none;
    border-left: none;
    border-top: none;
    cursor: pointer;
}
.bgLite#container #keys-calc{
    background-color: #d3cdcd;
}
.bgLite#container #keyDel,
.bgLite#container #keyReset{
    background-color: #388187;
    border-bottom: 3px solid #1a606a;
    border-right: none;
    border-left: none;
    border-top: none;
    cursor: pointer;
}
.bgLite#container #keyResult{
    background-color: #c85401;
    border-bottom: 3px solid #873a02;
    border-right: none;
    border-left: none;
    border-top: none;
    cursor: pointer;
}

/* INICIANDO TEMA MODO BLUE */
.bgBlue#container{
    background-color: #17062a;
}
.bgBlue#container #title,
.bgBlue#container #theme-text{
    color: #ffe631
}
.bgBlue#container #theme-number button{
    background-color: #17062a;
    color: #ffe631
}
.bgBlue#container #input-theme-calc{
    background-color: #1e0837;
    border: 3px solid #1e0837;
    justify-content: flex-end;
}
.bgBlue#container #button-theme-calc{
    background-color: #00dfd5;
}
.bgBlue#container #result-calc{
    background-color: #1e0836;
    color: #ffe631;
}
.bgBlue#container #keys-calc{
    background-color: #1e0836;
}
.bgBlue#container #key-button{
    background-color: #331b4d;
    color: #fff13f;
    border-bottom: 3px solid #871ca0;
    border-right: none;
    border-left: none;
    border-top: none;
    cursor: pointer;
}
.bgBlue#container #keyDel,
.bgBlue#container #keyReset{
    background-color: #520a7a;
    border-bottom: 3px solid #56077c;
    border-right: none;
    border-left: none;
    border-top: none;
    cursor: pointer;
}
.bgBlue#container #keyResult{
    background-color: #00decf;
    border-bottom: 3px solid #6ef7ef;
    color: #043230;
    border-right: none;
    border-left: none;
    border-top: none;
    cursor: pointer;
}
@media screen and (min-width: 0px) and (max-width: 768px){

   .calc{
       margin-top: -100px;
   }
    .title{
        margin-top: 10px;
        margin-left: 30px;
    }
    .theme, .theme-number{
        margin-right: 105px;
    }
    .result-calc{
        width: 280px;
        margin-left: 30px;
        height: 50px;
        font-size: 30px;
    }
    .keys-calc{
        width: 280px;
        margin-left: 30px;
    }
   .key-button-del, 
   .key-button-reset, 
   .key-button-result{
       font-size: 20px;
   }
    .container{
        height: 100%;
    }
}
